* {
box-sizing: border-box;
}

*:focus {
    outline: none;
}
body {
font-family: Arial;
background-color: #fff;
padding: 20px;
background: url(../img/color-splash.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
-webkit-box-shadow: 0px 3px 5px 1px rgba(74,65,126,0.5) !important;
-moz-box-shadow: 0px 3px 5px 1px rgba(74,65,126,0.5) !important;
box-shadow: 0px 3px 5px 1px rgba(74,65,126,0.5) !important;
}

.app-title {
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
border: 1px solid lightgrey;
}

input:focus {
border: 2px solid #00afef;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #00afef;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
    margin-top: 12px;
}

.start {
    color: #ffffff !important;
    background-color: #4C784B !important;
    border-color: #4C784B !important;
}

.medium {
    color: #5f570b !important;
    background-color: #D9CA2A !important;
    border-color: #D9CA2A !important;
}

.strong,.special {
    color: #ffffff !important;
    background-color: #F5790C !important;
    border-color: #F5790C !important;
}

.profi {
    color: #fff !important;
    background-color: #F50C1D !important;
    border-color: #F50C1D !important;
}

.panel {
    -webkit-box-shadow: 0px 3px 5px 1px rgba(74,65,126,0.5) !important;
    -moz-box-shadow: 0px 3px 5px 1px rgba(74,65,126,0.5) !important;
    box-shadow: 0px 3px 5px 1px rgba(74,65,126,0.5) !important;
    border: none !important;
}

h1 {
  color:white;
}

hr { 
  height: 10px; 
  border-style: solid; 
  border-color: #ccc; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 10px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #ccc; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}


.footer {
  color: white;
}

.prikazi-btn {
  color:darkgreen;
}
.prikazi-btn:hover{
  color:white;
}